<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
</head>

<body>

<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Tiny App</a>
  <form class="form-inline my-2 my-lg-0" action="/login" method="POST">
    <input style="margin-right: 10px" type="text" name="username" placeholder="Username">
    <button>Login</button>
</form>
</nav>

