<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/urls">
        <img alt="Brand" src="...">
      </a>
    </div>
  </div>
</nav>

<!--
  <a class="navbar-brand" href="/urls">Tiny App</a>
  if (username) {
    <ul class="navbar-nav navbar-right">
      <li style="position: absolute; top: 13px; right: 120px; font-size: 20px">Hey There, <%= username %>!</li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
      <input style="margin-right: 10px" type="hidden" name="username" value="<%= username %>" placeholder="Username">
      <button>Logout</button>
    </form>
   } else {
    <form class="form-inline my-2 my-lg-0" action="/login" method="POST">
      <input style="margin-right: 10px" type="text" name="username" placeholder="Username">
      <button>Login</button>
    </form>
   }
</nav>

-->