<% include partials/_header %>

  <div class="container">
    <div class ="wrapper">
      <h1>Login And Tinify Some URLS</h1>
      <br>
      <form action="/login" method="POST">
        <input type="email" name="email" placeholder="ex. mail@example.com">
        <input type="password" name="password" placeholder="password">
        <button id="loginButton" class="btn btn-primary">Login</button>
      </form>

      <% if (error) { %>

        <p class="errorMessage">Username or password incorrect. Make sure you correctly input your credentials</p>

      <% } %>
    </div>
  </div>

<% include partials/_footer %>