<% include partials/_header %>


<div class="wrapper">
   <h1>Tinify Your URL</h1>
  <form action="/urls" method="POST" style="margin: 30px">
    <input id="longURL" type="text" name="longURL" placeholder="Input URL here">
    <button>Shorten It</button>
  </form>
  <br>
  <a class="badge badge-primary nav-button" href="/urls">See All Shortened URLs</a>
</div>

<% include partials/_footer %>