<% include partials/_header.ejs%>

<div>
  <h1>URL Breakdown</h1>
  <br>
  <h2>Original URL:  <span><%= longURL %></span></h2>
  <h2>Shortened URL:  <span><%= shortURL %></span></h2>
  <br>
  <a class="badge badge-primary nav-button" href=<%= longURL %>>Follow The Link!</a>
  <a class="badge badge-primary nav-button" href="/urls">See All Shortened URLs</a>
  <br><br><br>
  <h2>Update Your URL</h2>
  <br>
  <form id="updateURL" action="/urls/<%=shortURL%>/update" method="POST">
    <input type="text" name="update" placeholder="Update the URL here">
    <button>Update URL</button>
  </form>
</div>

<% include partials/_footer %>