<% include partials/_header %>

<div style="text-align: center; margin-top: 18%">
  <h1>Tinify Your URL</h1>

  <form action="/urls" method="POST" style="margin: 30px">
    <input id="longURL" type="text" name="longURL" placeholder="Input URL here" style="padding: 5px">
    <button style="padding: 5px">Shorten It</button>
  </form>
  <br>
  <a style="padding: 10px" class="badge badge-primary" href="/urls">See All Shortened URLs</a>
</div>

<% include partials/_footer %>