<% include partials/_header %>


<div class="container">
  <div class="wrapper">
     <h1>Tinify Your URL</h1>
     <form id="tinifyForm" action="/urls" method="POST" style="margin: 30px">
       <input id="longURL" type="text" name="longURL" placeholder="Input URL here">
       <button class="btn btn-primary">Boom!</button>
     </form>
  </div>
</div>

<% include partials/_footer %>