<% include partials/_header.ejs%>

<div style="text-align: center; margin-top: 18%">
  <h1>URL Breakdown</h1>
  <br>
  <h2>Original URL:  <span style="font-size:0.75em"><%= longURL %></span></h2>
  <h2>Shortened URL:  <span style="font-size:0.75em"><%= shortURL %></span></h2>
  <br>
  <a style="padding: 10px" class="badge badge-primary" href=<%= longURL %>>Follow The Link!</a>
  <a style="padding: 10px" class="badge badge-primary" href="/urls">See All Shortened URLs</a>
</div>

</body>

</html>