/* Organize When You Get A Chance */

body {
  font-family: 'Raleway', sans-serif;
  color: rgb(150, 150, 150);
  background: skyblue;
  background: -webkit-linear-gradient(left, skyblue, white);
  background: -o-linear-gradient(left, skyblue, white );
  background: -moz-linear-gradient(left, skyblue, white);
  background: linear-gradient(to right, skyblue, white);
}

p {
  font-size: 25px;
}

.container {
  text-align: center;
  margin-top: 10%;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 75px 100px;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
}

#showContainer {
  margin-top: 10%;
}

li {
  list-style-type: none;
  text-align: center;
  line-height: 30px;
  font-size: 19px;
  margin-right: 10px;
}

#shortURL {
  color: #007bff;
}

#shortURL a:hover {
  text-decoration: none;
  color: rgb(251, 176, 59);
}

#showPageDelete {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: #b22c2c;
  border: none;
  font-weight: bold;
  margin-top: 10px;
}

#deleteURL {
  display: inline-block;
}

#deleteURL button {
  margin-left:10px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #b22c2c;
}

a.badge.badge-primary.nav-button {
  padding: 10px;
}

#showPageDelete {
  padding: 10px;
  border: none;
}

h2 span {
  font-size: 0.75em;
}

input {
  padding: 10px;
}

button {
  padding: 5px;
  cursor: pointer;
}

.errorMessage {
  color: red;
}

#submitURLIndex {
  margin-right: 35px;
}

body > nav {
  font-weight: 500;
}

.btn-primary {
  padding: 12px;
}

#submitURLIndex {
  font-size: 15px;
}

#submitURLIndex.badge.badge-primary.nav-button {
  padding: 15px;
}

#tinifyURLIndex.badge.badge-primary.nav-button {
  padding: 15px;
}

h1 {
  font-weight: 700px;
}

#navBrand > a > img {
  color: rgb(251, 176, 59);
  margin-right: 15px;
  font-weight: 700;
}

#logoutButton {
  background: rgb(251, 176, 59);
  padding: 8px;
  border: none;
}

input:focus {
  border: none;
}

input {
  padding: 25px;
  height: 50px;
  width: 300px;
  border-radius: 10px;
}

#tinifyForm > button {
  display: block;
  margin: 20px auto 0 auto;
  width: 200px;
}

#tinifyForm > input {
  margin-top: 10px;
  padding: 25px;
  height: 50px;
  width: 500px;
  border-radius: 10px;
}

#loginButton {
  display: block;
  width: 200px;
  margin: 20px auto 0 auto;
}

#registerButton {
  display: block;
  width: 200px;
  margin: 20px auto 0 auto;
}

#updateURL {
  margin-top: 60px;
  margin-bottom: 40px;
}

#urlViewCount {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: solid 1px #007bff;
  border-radius: 50%;
}

#urlViewCount p {
  margin-top: 2.5px;
}

#uniqueViews {
  position: absolute;
  bottom: 20px;
  left: 80px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: solid 1px rgb(251, 176, 59);
  border-radius: 50%;
}

#uniqueViews p {
  margin-top: 2.5px;

}

#urlNotFoundButton {
  font-size: 15px;
  margin-top: 15px;
}

#timeStamp {
  position: absolute;
  bottom: 5px;
  right: 40px;
  font-size: 0px;
}

#timeStamp p {
  font-family: sans-serif;
  font-size: 15px;
}